mixin explanation-details(exp)

    //- *******************************************************************************
    //- * (C) Copyright IBM Corporation 2018
    //- * All Rights Reserved
    //- *******************************************************************************

    h2 #{exp.explanation_name}

    table(border=1)
        tbody
            -for (var prop in exp)
                tr
                    -if (prop != "explanation_name")
                        td #{prop}
                        -if (prop == "compatible_datasets")
                            td
                                ul
                                -for (var i in exp[prop])
                                    -var thisItem = exp[prop][i]
                                    li #{thisItem.dataset_name}
                        -else
                            -if (prop == "compatible_models")
                                td
                                    ul
                                    -for (var i in exp[prop])
                                        -var thisItem = exp[prop][i]
                                        li #{thisItem.model_name}
                            -else
                                -if (prop == "additional_arguments")
                                    td
                                        ul
                                            -for (var i in exp[prop])
                                                -var thisItem = exp[prop][i]
                                                li #{thisItem.name} - '#{thisItem.description}'
                                -else
                                    -if (prop == "additional_outputs")
                                        td
                                            ul
                                                -for (var i in exp[prop])
                                                    -var thisItem = exp[prop][i]
                                                    li #{thisItem.name} - '#{thisItem.description}'
                                    -else
                                        td #{exp[prop]}
