extends layout

block content

    //- *******************************************************************************
    //- * (C) Copyright IBM Corporation 2018
    //- * All Rights Reserved
    //- *******************************************************************************

    div
        h1 Parameters
        table(border=1)
            tbody
                tr
                    td Dataset
                    td #{parameters.dataset}
                tr
                    td Model
                    td #{parameters.model}
                tr
                    td Explanation
                    td #{parameters.explanation}
                tr
                    td Image
                    td #{parameters.image}

        h1 Result
        table(border=1)
            tbody
                tr
                    td Explanation text
                    td #{explanation.explanation_text}
                tr
                    td Explanation image
                    td
                        img(alt='Explanation image', src='data:img/jpg;base64,' + explanation.explanation_image)
                tr
                    td Prediction
                    td #{explanation.prediction}
